<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="breadcrumbs-area" th:fragment="breadcrumb(name)">
    <!--<div class="breadcrumbs-area" th:fragment="breadcrumb">-->
    <ul class="display-inline">
        <li th:text="${name}"></li>
    </ul>
    <div class="dropdown float-right">
        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
           aria-expanded="false"><i class="fas fa-bullhorn font-weight-900"></i></a>

        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#" target="_blank"><i class="fas fa-bullhorn"></i>&nbsp;
                &nbsp;We love your feedback</a>
        </div>
    </div>
    <div class="dropdown float-right mg-r-10">
        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
           aria-expanded="false"><i class="fad fa-mobile font-weight-900"></i></a>

        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#" target="_blank"><i class="fad fa-mobile"></i>
                &nbsp;Checkout our mobile apps</a>
        </div>
    </div>
    <div class="dropdown float-right mg-r-10">
        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
           aria-expanded="false"><i class="fad fa-compass font-weight-900"></i></a>

        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#" target="_blank"><i class="fad fa-compass"></i>
                &nbsp;Go to Old Portal</a>
        </div>
    </div>
</div>