<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<head th:fragment="header(title)">-->
<head th:fragment="header(title)">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title th:text="${title}"></title>
    <!-- Google Analytics Script Start -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-03WPTW8JR6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-03WPTW8JR6');
    </script>
    <!-- Google Analytics Script Start -->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link th:href="@{/css/style-custom.css}" rel="stylesheet">-->
    <!--    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>-->

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png"> -->
    <link rel="shortcut icon" th:href="@{/img/mysandiego.ico}">
    <!-- Normalize CSS -->
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <!-- Main CSS -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <!--    Fontawesome Premium-->
    <script src="https://kit.fontawesome.com/f37192406c.js" crossorigin="anonymous"></script>
    <!-- Flaticon CSS -->
    <!--    <link rel="stylesheet" th:href="@{/fonts/flaticon.css}">-->
    <!-- Full Calender CSS -->
    <link rel="stylesheet" th:href="@{/css/fullcalendar.min.css}">
    <!-- Animate CSS -->
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style-custom.css}">
    <!-- Modernize js -->
    <script th:src="@{/js/modernizr-3.6.0.min.js}"></script>

</head>