<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Side Main Navigation Start -->
<div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color" th:fragment="leftnav">
    <div class="mobile-sidebar-header d-md-none">
        <div class="header-logo">
            <a href="#"><img th:src="@{/img/mysandiegologo.png}" alt="logo"></a>
        </div>
    </div>
    <div class="sidebar-menu-content">
        <ul class="nav nav-sidebar-menu sidebar-toggle-view">
            <!-- Welcome Tab Starts -->
            <li class="nav-item sidebar-nav-item">
                <a href="#" class="nav-link"><i class="fal fa-door-open"></i><span>Welcome</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).EMPLOYEE_GROUP)}">
                        <a th:href="@{/employee/home}" class="nav-link">
                            <i class="fad fa-home-heart"></i>Home-Employee</a>
                    </li>

                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).UG_ADMISSIONS_TAB_GROUP)}">
                        <a th:href="@{/student/undergraduate/home}" class="nav-link">
                            <i class="fad fa-home-heart"></i>Home-UG</a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).GRAD_ADMISSIONS_TAB_GROUP)}">
                        <a th:href="@{/student/grad/home}" class="nav-link">
                            <i class="fad fa-home-heart"></i>Home-GR</a>
                    </li>

                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).PORTAL_ADMIN_GROUP)}">
                        <a th:href="@{/welcome}" class="nav-link">
                            <i class="fad fa-home-heart"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fad fa-hourglass-start"></i>Campus Hours</a>
                    </li>
                    <!-- Show Events to everyone But Applicant.
                        If user belongs to APPLICANT_GROUP then hide it.
                     -->
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).EVENTS_PAGE_GROUP)}">
                        <a href="https://myusd.sandiego.edu/web/home-community/events" target="_blank" class="nav-link">
                            <i class="fas fa-calendar-star"></i>Events</a>
                    </li>
                </ul>
            </li>
            <!-- Welcome Tab Ends -->
            <!-- Admissions UG Tab Start -->
            <li class="nav-item sidebar-nav-item"
                th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).UG_ADMISSIONS_TAB_GROUP)}">
                <a href="#" class="nav-link"><i class="fal fa-university"></i><span>Admissions-UG</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).UG_ADMISSIONS_TAB_GROUP)}">
                        <a th:href="@{/student/undergraduate/applicant}" class="nav-link"><i class="fad fa-user-visor"></i>Applicants</a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).UG_DEPOSITED_AND_ADMITTED_GROUP)}">
                        <a th:href="@{/student/undergraduate/admitted}" class="nav-link">
                            <i class="fad fa-clipboard-check"></i>Admitted</a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).UG_DEPOSITED_GROUP)}">
                        <a th:href="@{/student/undergraduate/deposited}" class="nav-link">
                            <i class="fad fa-usd-square"></i>Deposited</a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).UG_NEWSTUDENT_GROUP)}">
                        <a th:href="@{/student/undergraduate/newstudent}" class="nav-link">
                            <i class="fad fa-user-plus"></i>New Students</a>
                    </li>
                </ul>
            </li>
            <!-- Admissions UG Tab End -->
            <!-- Admissions GR Tab Start -->
            <li class="nav-item sidebar-nav-item"
                th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).GRAD_ADMISSIONS_TAB_GROUP)}">
                <a href="#" class="nav-link"><i class="fal fa-university"></i><span>Admissions-GR</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).GRAD_ADMISSIONS_TAB_GROUP)}">
                        <a th:href="@{/student/grad/applicant}" class="nav-link"><i class="fad fa-user-visor"></i>Applicants</a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).GRAD_DEPOSITED_AND_ADMITTED_GROUP)}">
                        <a th:href="@{/student/grad/admitted}" class="nav-link">
                            <i class="fad fa-clipboard-check"></i>Admitted</a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).GRAD_DEPOSITED_GROUP)}">
                        <a th:href="@{/student/grad/deposited}" class="nav-link">
                            <i class="fad fa-usd-square"></i>Deposited</a>
                    </li>
                </ul>
            </li>
            <!-- Admissions GR Tab End -->
            <!-- Admissions Law Tab Start -->
            <li class="nav-item sidebar-nav-item"
                th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).LAW_ADMISSIONS_TAB_GROUP)}">
                <a href="#" class="nav-link"><i
                        class="fal fa-university"></i><span>Admissions-Law</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item">
                        <a th:href="@{/student/law/admissions}" class="nav-link">
                            <i class="fad fa-user-visor"></i>Law Admissions</a>
                    </li>
                </ul>
            </li>
            <!-- Admissions Law Tab End -->
            <!-- Torero Hub Tab Starts -->
            <li class="nav-item sidebar-nav-item"
                th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).TOREROHUB_TAB_GROUP)}">
                <a href="#" class="nav-link"><i class="fab fa-hubspot"></i><span>Torero Hub</span></a>
                <ul class="nav sub-group-menu">

                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains('LAW_ACTIVE_GROUP')}">
                        <a th:href="@{/student/law/student}" class="nav-link">
                            <i class="fad fa-gavel"></i>Law Student</a>
                    </li>

                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).GRAD_OR_UNDERGRAD_ACTIVE_GROUP)}">
                        <a th:href="@{/common/myacademics}" class="nav-link">
                            <i class="fad fa-graduation-cap" aria-hidden="true"></i>My Academics</a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).GRAD_OR_UNDERGRAD_ACTIVE_GROUP)}">
                        <a th:href="@{/common/financialaid}" class="nav-link">
                            <i class="fad fa-hands-helping"></i>My Fin. Aid</a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).STUDENT_EMPLOYMENT_PAGE_GROUP)}">
                        <a th:href="@{/common/studentemployment}" class="nav-link">
                            <i class="fad fa-briefcase"></i>Student Employment</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/common/mystudentaccount}" class="nav-link">
                            <i class="fad fa-backpack"></i>My Student Account</a>
                    </li>
                    <!-- Same Permissions as Torero Hub Tab-->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fad fa-shield-check"></i>FERPA</a>
                    </li>
                    <!-- Same Permissions as Torero Hub Tab-->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fad fa-analytics"></i>Analytics</a>
                    </li>
                    <!-- Same Permissions as Torero Hub Tab-->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fab fa-servicestack"></i>My Torero Services</a>
                    </li>
                    <!-- Permissions w.r.t relevant majors from Banner-->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fad fa-chart-line"></i>Career Readiness</a>
                        <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Majors</span>
                    </li>
                    <!-- Permissions w.r.t relevant majors from Banner-->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fad fa-chart-line"></i>CRP Compass Demo</a>
                        <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Majors</span>
                    </li>
                    <!-- Permissions w.r.t relevant majors from Banner-->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fad fa-chart-line"></i>CRP Passport Demo</a>
                        <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Majors</span>
                    </li>
                    <!-- Permissions w.r.t relevant majors from Banner-->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fad fa-chart-line"></i>CRP Connect Demo</a>
                        <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Majors</span>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fad fa-business-time"></i>UG Business</a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).SENIOR_GROUP)}">
                        <a th:href="@{/students/seniors}" class="nav-link">
                            <i class="fad fa-hat-cowboy"></i>Seniors
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span></a>
                    </li>
                    <!-- Permissions w.r.t relevant majors from Banner-->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fad fa-star-of-david"></i>SOLES</a>
                        <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Majors</span>

                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).PARALEGAL_ACTIVE_GROUP)}">
                        <a th:href="@{/student/law/paralegal}" class="nav-link">
                            <i class="fad fa-balance-scale-right"></i>Paralegal</a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).ELA_ACTIVE_GROUP)}">
                        <a th:href="@{/student/ela/ela}" class="nav-link">
                            <i class="fad fa-university"></i>ELA</a>
                    </li>
                </ul>
            </li>
            <!-- Torero Hub Tab Ends -->
            <!-- Faculty & Dept Chairs Tab Start -->
            <li class="nav-item sidebar-nav-item"
                th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).FACULTY_AND_DEPT_CHAIRS_TAB_GROUP)}">
                <a href="#" class="nav-link"><i class="fal fa-users-class"></i><span>Faculty & Dept Chairs</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).EMPLOYEE_GROUP)}">
                        <a th:href="@{/employee/teach}" class="nav-link">
                            <i class="fad fa-chalkboard-teacher"></i>Teach</a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).EMPLOYEE_GROUP)}">
                        <a th:href="@{/employee/advise}" class="nav-link"><i class="fad fa-map-signs"></i>Advise</a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).DEPT_CHAIR_GROUP)}">
                        <a href="#" class="nav-link">
                            <i class="fad fa-file-chart-pie"></i>Dept Chair
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span></a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).EMPLOYEE_GROUP)}">
                        <a th:href="@{/employee/facultynewsnotes}" class="nav-link">
                            <i class="fad fa-newspaper"></i>Faculty Newsnotes
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span></a>
                    </li>
                </ul>
            </li>
            <!-- Faculty & Dept Chairs Tab End -->
            <!-- Employee Tab Starts -->
            <li class="nav-item sidebar-nav-item"
                th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).EMPLOYEE_TAB_GROUP)}">
                <a href="#" class="nav-link"><i class="fal fa-user-tag"></i><span>Employee</span></a>
                <!-- All pages under Employee Tab have same permission as Employee Tab.-->
                <ul class="nav sub-group-menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-briefcase"></i>Workday
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fad fa-search-plus"></i>Employee Resources
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Soon</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fad fa-user-chart"></i>Trainings & Workshops
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Soon</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fad fa-file-search"></i>Proposal Review
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span></a>
                    </li>
                </ul>
            </li>
            <!-- Employee Tab Ends -->
            <!-- Applications & Tools Tab Start -->
            <li class="nav-item sidebar-nav-item"
                th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).APPLICATIONS_AND_TOOLS_TAB_GROUP)}">
                <a href="#" class="nav-link"><i class="fal fa-toolbox"></i><span>Applications & Tools</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).EMPLOYEE_GROUP)}">
                        <a th:href="@{/employee/applicationsAndTools}" class="nav-link">
                            <i class="fab fa-app-store"></i>Applications-Employee</a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).ALL_ACTIVE_STUDENTS_AND_ALL_APPLICANTS_GROUP)}">
                        <a th:href="@{/student/applicationsAndTools}" class="nav-link">
                            <i class="fab fa-app-store"></i>Applications-Student</a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).EMPLOYEE_GROUP)}">
                        <a th:href="@{/employee/tools}" class="nav-link"><i class="far fa-tools"></i>Tools
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span></a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).EMPLOYEE_GROUP)}">
                        <a th:href="@{/employee/pushnotifications}" class="nav-link">
                            <i class="fad fa-bell-on"></i>Push Notifications</a>
                        <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming</span>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).USDONE_PAGE_GROUP)}">
                        <a th:href="@{/common/usdone}" class="nav-link">
                            <i class="fal fa-file-user"></i>USDOne</a>
                        <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).EMPLOYEE_GROUP)}">
                        <a th:href="@{/employee/heatday}" class="nav-link">
                            <i class="fad fa-temperature-hot"></i>Heat Day</a>
                        <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span>
                    </li>
                </ul>
            </li>
            <!-- Applications & Tools Tab End -->
            <!-- Help Desk & Support Tab Starts -->
            <li class="nav-item sidebar-nav-item"
                th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).HELP_DESK_AND_SUPPORT_TAB_GROUP)}">
                <a href="#" class="nav-link"><i class="fal fa-user-headset"></i><span>Help Desk & Support</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).MY_SUPPORT_SERVICES_PAGE_GROUP)}">
                        <a href="#" class="nav-link"><i class="fad fa-headset"></i>My Support Services
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Soon</span></a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).SAFETY_CHECK_PAGE_GROUP)}">
                        <a href="#" class="nav-link"><i class="fad fa-user-shield"></i>Safety Check
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span></a>
                    </li>
                </ul>
            </li>
            <!-- Help Desk & Support Tab Ends -->
            <!-- Torero Life Start -->
            <li class="nav-item sidebar-nav-item"
                th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).TORERO_LIFE_TAB_GROUP)}">
                <a href="#" class="nav-link"><i class="fal fa-hands-heart"></i><span>Torero Life</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fad fa-leaf-heart"></i>Student Affairs
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span></a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).UNDERGRAD_ACTIVE_GROUP)}">
                        <a th:href="@{/student/undergraduate/clubsandactivities}" class="nav-link"><i class="fad fa-kaaba"></i>Clubs & Activities
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span></a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).GRAD_ACTIVE_GROUP)}">
                        <a href="#" class="nav-link"><i class="fad fa-hand-holding-seedling"></i>Graduate Life
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fad fa-field-hockey"></i>Athletics
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span></a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).UNDERGRAD_ACTIVE_GROUP)}">
                        <a href="#" class="nav-link"><i class="fad fa-flask"></i>UG Research
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span></a>
                    </li>
                    <li class="nav-item"
                        th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).ALL_ACTIVE_STUDENTS_GROUP)}">
                        <a href="#" class="nav-link"><i class="fad fa-calendar-day"></i>Events (Ole)
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fad fa-planet-ringed"></i>Pacific Ridge
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span></a>
                    </li>
                </ul>
            </li>
            <!-- Torero Life End -->
            <!-- Torero Alumni Tab Starts -->
            <li class="nav-item sidebar-nav-item"
                th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).ALUMNI_TAB_GROUP)}">
                <a href="#" class="nav-link"><i class="fal fa-medal"></i><span>Torero Alumni</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fad fa-info-circle"></i>My Student Info</a>
                        <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Soon</span>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fal fa-medal"></i>Alumni</a>
                        <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span>
                    </li>
                </ul>
            </li>
            <!-- Torero Alumni Tab Ends -->
            <!-- FST Students Tab Starts -->
            <li class="nav-item sidebar-nav-item"
                th:if="${personDetailedInfo.getBasicPersonInfo().getGroups().contains(T(edu.sandiego.mysandiegoportal.domain.GroupNames).FST_STUDENT_TAB_GROUP)}">
                <a href="#" class="nav-link"><i class="fal fa-user"></i><span>FST Student</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item">
                        <a th:href="@{/student/fst/academics}" class="nav-link"><i
                                class="fad fa-graduation-cap"></i>Academics</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/student/fst/finaid-studentaccounts}" class="nav-link"><i
                                class="fad fa-hands-helping"></i>Fin. Aid & Student
                            Account</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fab fa-servicestack"></i>USD Services
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fad fa-hand-holding-seedling"></i>Student Life
                            <span class="btn-fill-xsm radius-30 text-light bg-usd-yellow text-10">Coming Soon</span></a>
                    </li>
                </ul>
            </li>
            <!-- FST Students Tab Ends -->
        </ul>
    </div>
</div>
<!-- Side Main Navigation End -->