<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Header Menu Area Start Here -->
<div class="navbar navbar-expand-md header-menu-one bg-light" th:fragment="topnav">
    <div class="nav-bar-header-one">
        <div class="header-logo">
            <a href="#">
                <img th:src="@{/img/mysandiegologo.png}" alt="logo">
            </a>
        </div>
        <div class="toggle-button sidebar-toggle">
            <button type="button" class="item-link">
                        <span class="btn-icon-wrap">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
            </button>
        </div>
    </div>
    <div class="d-md-none mobile-nav-bar">
        <button class="navbar-toggler pulse-animation" type="button" data-toggle="collapse"
                data-target="#mobile-navbar" aria-expanded="false">
            <i class="far fa-arrow-alt-circle-down"></i>
        </button>
        <button type="button" class="navbar-toggler sidebar-toggle-mobile">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">
        <ul class="navbar-nav navbar-nav-custom-pl">
            <li class="navbar-item header-search-bar search-nav-style-custom">
                <div class="input-group stylish-input-group">
                    <i class="fad fa-search search-mysandiego-fa"></i>
                    <input type="text" class="form-control" placeholder="Search MySanDiego...">
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="navbar-item dropdown header-notification">
                <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                   aria-expanded="false">
                    <i class="far fa-bell"></i>
                    <div class="item-title d-md-none text-16 mg-l-10">Notification</div>
                    <span>8</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="item-header">
                        <h6 class="item-title">08 Notifiacations</h6>
                    </div>
                    <div class="item-content">
                        <div class="media">
                            <div class="item-icon bg-skyblue">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="media-body space-sm">
                                <div class="post-title">Complete Today Task</div>
                                <span>1 Mins ago</span>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-icon bg-orange">
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                            <div class="media-body space-sm">
                                <div class="post-title">Director Meeting</div>
                                <span>20 Mins ago</span>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-icon bg-violet-blue">
                                <i class="fas fa-cogs"></i>
                            </div>
                            <div class="media-body space-sm">
                                <div class="post-title">Update Password</div>
                                <span>45 Mins ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="navbar-item dropdown header-admin">
                <a class="navbar-nav-link" href="#" role="button" data-toggle="dropdown"
                   aria-expanded="false">
                    <div class="admin-title">
                        <h5 class="item-title"
                            th:text="${personDetailedInfo.getBasicPersonInfo().getFirstName() +' '+ personDetailedInfo.getBasicPersonInfo().getLastName()}"></h5>
                        <!--                            <span>Admin</span>-->
                    </div>
                    <div class="admin-img">
                        <img class="color-usd-red border-radius-25-percent" alt="No Img"
                             th:src="${'https://myutil.sandiego.edu:8443/usdpix/'+personDetailedInfo.getBasicPersonInfo().getBannerId()+'.jpg'}">
                        <i class="fas fa-caret-down"></i>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="item-header">
                        <h6 class="item-title"
                            th:text="${personDetailedInfo.getBasicPersonInfo().getFirstName()+' ('+personDetailedInfo.getBasicPersonInfo().getBannerId()+')'}"></h6>
                    </div>
                    <div class="item-content">
                        <ul class="settings-list">
                            <li class="navbar-item dropdown header-message">
                                <a class="navbar-nav-link dropdown-toggle"
                                   href="http://toreromail.sandiego.edu/" target="_blank">
                                    <i class="far fa-envelope icon-color-blue-usd"></i> Torero Mail
                                </a>
                            </li>
                            <li class="navbar-item dropdown header-message">
                                <a class="navbar-nav-link dropdown-toggle" href="https://chat.google.com/"
                                   target="_blank">
                                    <i class="fas fa-comment-alt icon-color-blue-usd"></i> Google Chat
                                </a>
                            </li>
                            <!-- TODO: Will come back this list later.
                            <li><a href="#"><i class="flaticon-personDetailedInfo.getBasicPersonInfo() icon-color-blue-usd"></i>My Profile</a></li>
                            <li><a href="#"><i class="flaticon-list icon-color-blue-usd"></i>Task</a></li>
                            <li><a href="#"><i class="flaticon-list icon-color-blue-usd"></i>Push
                                Notifications</a></li>
                            <li><a href="#"><i
                                    class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>Message</a>
                            </li>
                            <li><a href="#"><i class="flaticon-gear-loading icon-color-blue-usd"></i>Account
                                Settings</a></li>-->
                            <li class="navbar-item dropdown header-message">
                                <a class="navbar-nav-link dropdown-toggle" th:href="${@environment.getProperty('casLogoutUrl')}">
                                    <i class="fad fa-sign-out-alt icon-color-blue-usd"></i>  Log Out
                                </a>
                            </li>
                            <li th:text="${personDetailedInfo.getBasicPersonInfo().getGroups()}"></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Header Menu Area End Here -->