<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="">
<!-- ============================================================================ -->
<!-- Inserting Header from fragments **************************************** -->
<!-- ============================================================================ -->
<head th:replace="fragments/header :: header('Apps & Tools')"></head>
<body>

<div id="wrapper" class="wrapper bg-ash">

    <!-- ============================================================================ -->
    <!-- Inserting TopNav from fragments **************************************** -->
    <!-- ============================================================================ -->
    <div th:replace="fragments/topnav :: topnav"></div>
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
        <div th:replace="fragments/leftnav :: leftnav"></div>
        <div class="dashboard-content-one">
            <!-- ============================================================================ -->
            <!-- Inserting Top Navigation from fragments **************************************** -->
            <!-- ============================================================================ -->
            <div th:replace="fragments/breadcrumb :: breadcrumb('Applications')"></div>
            <div class="row gutters-20">
                <!-- Preloader Start Here -->
                <div id="loader" class="display-none">
                    <i class="fas fa-spinner fa-spin"></i>
                </div>
                <!-- Preloader End Here -->
                <!-- Applications & Tools start -->
                <div class="col-12 col-sm-12 col-lg-12 col-xl-12 col-12-xxxl">
                    <div class="card ui-tab-card pd-b-5 height-100-percent">
                        <div class="card-body border-top-blue">
                            <div class="heading-layout1 mg-b-10">
                                <div class="item-title">
                                    <h3>Applications & Tools</h3>
                                </div>
                            </div>
                            <div class="custom-tab">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#allApplicationsAndTools"
                                           role="tab" aria-selected="true">All Applications & Tools</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#myFavoriteApps" role="tab"
                                           aria-selected="false">My Favorite Apps</a>
                                    </li>
                                </ul>
                                <div class="tab-content pd-l-15">
                                    <div class="tab-pane fade show active pd-t-0" id="allApplicationsAndTools"
                                         role="tabpanel">
                                        <div class="table-responsive table-hover table-hover">
                                            <table
                                                    class="table display data-table text-nowrap all-applications-and-tools-table"
                                                    id="appStoreTablePortal">
                                                <thead>
                                                <tr>
                                                    <th style="display:none">Requirements</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="appsList: ${allApplicationAndToolsJsonArray}"
                                                    th:id="${appsList.appId}+'-AllApplicationsAndToolsRow'"
                                                    class="col-2 col-sm-2 col-lg-2 col-xl-22 col-2-xxxl">
                                                    <td><i class="fas fa-stars color-light-gray"
                                                           th:id="${appsList.appId}+'-AllApplicationsAndToolsStar'"
                                                           th:data-realappid="${appsList.appId}"
                                                           th:data-appname="${appsList.appName}"
                                                           th:data-appdescription="${appsList.appDescription}"
                                                           th:data-appurl="${appsList.appURL}"
                                                           th:data-appcategory="${appsList.appCategory}"
                                                           th:data-targetaction="save"
                                                           th:data-isFavorite="Yes"
                                                           th:data-username="${personDetailedInfo.getBasicPersonInfo().getUsername()}"
                                                           title="Add to Favorite Tools"
                                                           onclick="saveMyFavoriteApplicationsPreferences(this)"></i>
                                                        <a th:text="${appsList.appName}"
                                                           th:href="${appsList.appURL}"
                                                           target="_blank"></a></td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="myFavoriteApps" role="tabpanel">
                                        <div class="table-responsive table-hover table-hover">
                                            <table
                                                    class="table display data-table text-nowrap all-applications-and-tools-table">
                                                <thead>
                                                <tr>
                                                    <th style="display:none">-</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="appsList: ${allApplicationAndToolsJsonArray}"
                                                    th:id="${appsList.appId}+'-MyFavApplicationsAndToolsRow'"
                                                    class="col-2 col-sm-2 col-lg-2 col-xl-22 col-2-xxxl">
                                                    <td><i class="fas fa-stars color-light-gray"
                                                           th:id="${appsList.appId}+'-MyFavApplicationsAndToolsStar'"
                                                           th:data-realappid="${appsList.appId}"
                                                           th:data-appname="${appsList.appName}"
                                                           th:data-appdesc="${appsList.appDescription}"
                                                           th:data-appurl="${appsList.appURL}"
                                                           th:data-appcategory="${appsList.appCategory}"
                                                           th:data-targetaction="save"
                                                           th:data-isFavorite="Yes"
                                                           th:data-username="${personDetailedInfo.getBasicPersonInfo().getUsername()}"
                                                           title="Add to Favorite Tools"
                                                           onclick="saveMyFavoriteApplicationsPreferences(this)"></i>
                                                        <a th:text="${appsList.appName}"
                                                           th:href="${appsList.appURL}"
                                                           target="_blank"></a></td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Applications & Tools end -->
            </div>
            <!-- ============================================================================ -->
            <!-- Inserting Footer from fragments **************************************** -->
            <!-- ============================================================================ -->
            <div th:replace="fragments/footer :: footer"></div>
        </div>
    </div>
    <!-- Page Area End Here -->
</div>
<!-- ============================================================================ -->
<!-- Inserting Common JS from fragments **************************************** -->
<!-- ============================================================================ -->
<div th:replace="fragments/commonJS :: commonJS"></div>
</body>
</html>

<script th:inline="javascript">
    /* Way to get hold of model.attributes in Javascript by using Thymeleaf:Inline tag.. */
    let myFavApps = ([[${myFavoriteApplicationsAndToolsJsonArray}]]);
    let allAppsAndToolsList = ([[${allApplicationAndToolsJsonArray}]]);
    allAppsAndToolsList = allAppsAndToolsList.sort();
    //console.log(allAppsAndToolsList);

    for (var j = 0; j < allAppsAndToolsList.length; j++) {
        var allAppsAndToolsId = allAppsAndToolsList[j].appId;
        //hide all the rows under My Fav Tab
        $("#" + allAppsAndToolsId + "-MyFavApplicationsAndToolsRow").addClass("display-none");
        /* Applied to  My Favorite Apps Tab: This tab is just like All Applications & Tools tab, except we want to hide (display: none) anything that does Not belong to myFavApps list above. */
        for (var i = 0; i < myFavApps.length; i++) {
            var myFavAppsId = myFavApps[i].appId;
            if (allAppsAndToolsId === myFavAppsId) {
                //Apply right color to stars under My Favorite Apps Tabs
                $("#" + myFavAppsId + "-MyFavApplicationsAndToolsStar").addClass("color-usd-yellow");
                $("#" + myFavAppsId + "-MyFavApplicationsAndToolsStar").attr("data-targetaction", "delete");
                //Apply right color to stars under All Applications & Tools Tabs
                $("#" + myFavAppsId + "-AllApplicationsAndToolsStar").addClass("color-usd-yellow");
                $("#" + myFavAppsId + "-AllApplicationsAndToolsStar").attr("data-targetaction", "delete");

                $("#" + myFavAppsId + "-MyFavApplicationsAndToolsRow").removeClass("display-none");
                continue;
            }
        }
    }

    function saveMyFavoriteApplicationsPreferences($this) {

        let username = $this.getAttribute('data-username');
        let appId = $this.getAttribute('id');
        let appName = $this.getAttribute('data-appname');
        let appDescription = $this.getAttribute('data-appdescription');
        let appURL = $this.getAttribute('data-appurl');
        let appCategory = $this.getAttribute('data-appcategory');
        let isFavorite = $this.getAttribute('data-isfavorite');
        let targetAction = $this.getAttribute('data-targetaction');
        let realAppId = $this.getAttribute('data-realappid');
        /* console.log("username--> " + username);
         console.log("appId--> " + appId);
         console.log("appName--> " + appName);
         console.log("appDescription--> " + appDescription);
         console.log("appURL--> " + appURL);
         console.log("appCategory--> " + appCategory);
         console.log("isFavorite--> " + isFavorite);
         console.log("targetAction--> " + targetAction);
         console.log("realAppId--> " + realAppId);*/

        $.ajax({
            type: "GET",
            url: "/mysandiegoportal/rest/employee/saveMyFavoritesApplicationsPreferences",
            data: {
                targetAction: targetAction,
                username: username,
                appId: realAppId,
                appName: appName,
                appDescription: appDescription,
                appURL: appURL,
                appCategory: appCategory,
                isFavorite: isFavorite
            },
            beforeSend: function () {
                $("#loader").removeClass("display-none");
                $("#loader").addClass("display-block");
                $("body").removeClass("opacity-100-percent");
                $("body").addClass("opacity-50-percent");
            },
            complete: function () {
                $("#loader").removeClass("display-block");
                $("#loader").addClass("display-none");
                $("body").addClass("opacity-100-percent");
            },
            dataType: "json",
            success: function (response) {
                if (targetAction == 'Save' || targetAction == 'save') {
                    if (response >= 1) {
                        // Apply right color to the stars under All apps tab.
                        $("#" + realAppId + "-AllApplicationsAndToolsStar").addClass("color-usd-yellow");
                        $("#" + realAppId + "-AllApplicationsAndToolsStar").attr("data-targetaction", "delete");
                        // Apply right colors to the stars under My Fav tab.
                        $("#" + realAppId + "-MyFavApplicationsAndToolsStar").addClass("color-usd-yellow");
                        $("#" + realAppId + "-MyFavApplicationsAndToolsStar").attr("data-targetaction", "delete");
                        //Also show this row from under My Fav tab.
                        $("#" + realAppId + "-MyFavApplicationsAndToolsRow").removeClass("display-none");
                    }
                } else {
                    if (response >= 1) {
                        // Apply right color to the stars under All Apps tab.
                        $("#" + realAppId + "-AllApplicationsAndToolsStar").removeClass("color-usd-yellow");
                        $("#" + realAppId + "-AllApplicationsAndToolsStar").attr("data-targetaction", "save");
                        // Apply right color to the stars under My Fav tab.
                        $("#" + realAppId + "-MyFavApplicationsAndToolsStar").removeClass("color-usd-yellow");
                        $("#" + realAppId + "-MyFavApplicationsAndToolsStar").attr("data-targetaction", "save");
                        //Also hide this row from under My Fav tab.
                        $("#" + realAppId + "-MyFavApplicationsAndToolsRow").addClass("display-none");
                    }
                }
            },
            failure: function (errMsg) {
                alert("Something went wrong: " + errMsg);
            }
        });
    }
</script>

<!-- ============================================================================ -->
<!-- Sample format to use comments Line1 **************************************** -->
<!-- Sample format to use comments Line2 **************************************** -->
<!-- Sample format to use comments Line3 **************************************** -->
<!-- ============================================================================ -->