<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="">
<!-- ============================================================================  -->
<!-- Inserting Header from fragments ****************************************   -->
<!-- ============================================================================  -->
<head th:replace="fragments/header :: header('Welcome')"></head>
<body>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper bg-ash">

    <!-- ============================================================================ -->
    <!-- Inserting Top Navigation from fragments **************************************** -->
    <!-- ============================================================================ -->
    <div th:replace="fragments/topnav :: topnav"></div>
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
        <div th:replace="fragments/leftnav :: leftnav"></div>
        <div class="dashboard-content-one">
            <!-- ============================================================================ -->
            <!-- Inserting Breadcrumb from fragments **************************************** -->
            <!-- ============================================================================ -->
            <div th:replace="fragments/breadcrumb :: breadcrumb('Welcome')"></div>
            <div class="row gutters-20">
                <!-- My Profile Start -->
                <div class="col-12 col-sm-12 col-lg-4 col-xl-4 col-4-xxxl">
                    <div class="card dashboard-card-six pd-b-10">
                        <div class="card-body border-top-blue">
                            <div class="heading-layout1 mg-b-20">
                            </div>
                            <div class=" my-profile-card pd-r-0">
                                <p class="text-align-center m-b-10">
                                    <img class="color-usd-red border-radius-50-percent" alt="No Img"
                                         th:src="${'https://myutil.sandiego.edu:8443/usdpix/'+personDetailedInfo.getBasicPersonInfo().getBannerId()+'.jpg'}">
                                    <br>
                                <h6 class="card-subtitle mb-2  text-align-center"
                                    th:text="${personDetailedInfo.getBasicPersonInfo().getFirstName() +' '+personDetailedInfo.getBasicPersonInfo().getLastName()}"></h6>
                                </p>
                                <!-- Create local variable to reference further-->
                                <table class="width-100-precent"
                                       th:with="majorDesc=${personDetailedInfo.getDepartmentAndMajor().getPrimaryMajorDesc()},
                                       deptDesc=${personDetailedInfo.getDepartmentAndMajor().getPrimaryDeptDesc()}">
                                    <tr>
                                        <th>Major:</th>
                                        <td th:text=" ${majorDesc!=null} ? ${majorDesc} : 'N/A'"></td>
                                    </tr>
                                    <tr>
                                        <th>Department:</th>
                                        <td th:text=" ${deptDesc!=null} ? ${deptDesc} : 'N/A'"></td>
                                    </tr>
                                    <tr>
                                        <th>USD ID:</th>
                                        <td th:text="${personDetailedInfo.getBasicPersonInfo().getBannerId()}"></td>
                                    </tr>
                                    <tr>
                                        <th>Email:</th>
                                        <td th:text="${personDetailedInfo.getBasicPersonInfo().getEmail()}"></td>
                                    </tr>
                                    <tr>
                                        <th>Emergency Phone:</th>
                                        <td class="color-usd-red strong-text">Not provided
                                            <i class="fad fa-exclamation-circle" data-toggle="popover"
                                               data-content="In an emergency, we may need to notify you of a serious
                                                    threat to
                                                    your safety.
                                                    Please help us by providing the following information.
                                                    It will only
                                                    be used for
                                                    emergency/safety purposes.
                                                    Thank you." data-trigger="hover"></i>
                                            <a href="#" data-toggle="modal"
                                               data-target="#emergency-notification-modal">Update</a>
                                        </td>
                                        <div class="modal fade" id="emergency-notification-modal" tabindex="-1"
                                             role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-sm" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Emergency Notifications</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- <h3 class="font-semibold">This is Small Modal</h3> -->
                                                        <p>In an emergency, we may need to notify you of a serious
                                                            threat to
                                                            your safety.
                                                            Please help us by providing the following information.
                                                            It will only
                                                            be used for
                                                            emergency/safety purposes.
                                                            Thank you.
                                                        </p>
                                                        <div class="form-group col-12">
                                                            <input type="text" placeholder="Emergency Phone"
                                                                   class="form-control">
                                                        </div>
                                                        <div class="form-group col-12">
                                                            <button type="submit"
                                                                    class="modal-usd-submit-btn">Submit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                </table>
                                <div class="card-footer bg-transparent my-profile-card-footer mg-t-35"
                                     th:with="gpa=${personDetailedInfo.getShrlgpa()}">
                                    <div class="row" th:if="${gpa!=null}">
                                        <div class="col-12 col-sm-12 col-lg-12 col-xl-12 col-12-xxxl">GPA:&nbsp;
                                            <span th:each="gpa1: ${gpa}"
                                                  th:text="${gpa1.getLevlCode() + ': ' + gpa1.getGpa()+ ' | '}">
                                            </span>
                                        </div>
                                        <!--                                        <div class="col-8 col-sm-8 col-lg-8 col-xl-8 col-8-xxxl"> Degree Credits-->
                                        <!--                                            <span>38/120</span>-->
                                        <!--                                        </div>-->
                                    </div>
                                    <div class="row" th:unless="${gpa!=null}">
                                        <div class="col-12 col-sm-12 col-lg-12 col-xl-12 col-12-xxxl">GPA:&nbsp;
                                            <span>N/A</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- My Profile End -->
                <!-- Announcements Start -->
                <div class="col-12 col-sm-12 col-lg-4 col-xl-4 col-4-xxxl">
                    <div class="card dashboard-card-six pd-b-10">
                        <div class="card-body border-top-blue announcement-card-body">
                            <div class="heading-layout1 mg-b-20">
                                <div class="item-title width-95-precent">
                                    <h3 class="display-inline-block">Announcements </h3>
                                </div>
                            </div>
                            <div class="notice-list">
                                <div class="accordion" id="announcement-1">
                                    <div class="card pd-b-0">
                                        <div class="card-header btn-link bg-white " type="button"
                                             data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                             aria-controls="collapseOne" id="headingOne">
                                            <h6 class="notice-title display-inline-block mg-b-5">
                                                Latest Coronavirus Update
                                            </h6>
                                            <i class="fal fa-chevron-down float-lg-right"></i>
                                        </div>

                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                             data-parent="#announcement-1">
                                            <div class="card-body">
                                                <div class="entry-meta"><a href="#" target="_blank">
                                                    <img
                                                            src="https://www.sandiego.edu/mysandiego/portal/img/onward-usd-bg-horz.png"></a>
                                                    <br>
                                                    <a href="#" target="_blank">Latest Update</a> | <a href="#"
                                                                                                       target="_blank">Technology
                                                        Resources</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="notice-list">
                                <div class="accordion" id="announcement-2">
                                    <div class="card pd-b-0">
                                        <div class="card-header btn-link bg-color-white" type="button"
                                             data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                             aria-controls="collapseTwo" id="headingTwo">
                                            <h6 class="notice-title display-inline-block">
                                                On-Campus Temperature Screening
                                            </h6>
                                            <i class="fal fa-chevron-down float-lg-right"></i>
                                        </div>

                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                             data-parent="#announcement-1">
                                            <div class="card-body">
                                                <div class="entry-meta">
                                                    <ul>
                                                        <li><a href="#" target="_blank">On-Campus Temperature
                                                            Screening
                                                            Locations & Operating Hours</a></li>
                                                        <li><a href="#" target="_blank">Take the Survey </a>
                                                        </li>
                                                        <li><a href="#">Learn More</a></li>
                                                    </ul>
                                                    <p>
                                                        Before entering any campus buildings, students, faculty
                                                        and staff will report to one of the temperature
                                                        screening locations across campus. You will be required
                                                        to show your daily certification email confirmation, and
                                                        have your temperature taken with a non-contact
                                                        thermometer. This process will generate a message that
                                                        you are certified to be on campus, and a temperature
                                                        screening attendant will provide you with a wristband to
                                                        wear before entering campus buildings.
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="notice-list">
                                <div class="accordion" id="announcement-3">
                                    <div class="card pd-b-0">
                                        <div class="card-header btn-link bg-white " type="button"
                                             data-toggle="collapse" data-target="#collapseThree"
                                             aria-expanded="true"
                                             aria-controls="collapseThree" id="headingThree">
                                            <h6 class="notice-title display-inline-block mg-b-5">
                                                Sexual Assault Prevention & Diversity, Equity and Inclusion Training
                                            </h6>
                                            <i class="fal fa-chevron-down float-lg-right"></i>
                                        </div>

                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                             data-parent="#announcement-3">
                                            <div class="card-body">
                                                <div class="entry-meta">
                                                    <a href="#" target="_blank">Click here to access the courses</a>
                                                    <p>
                                                        Don't forget to complete this year's two-course online
                                                        education requirement -- Sexual Assault Prevention AND
                                                        Diversity, Equity and Inclusion for Students by October 1,
                                                        2020! Failure to complete will result in $250 non-compliance
                                                        fee. This does not apply to New Freshman and Transfer
                                                        Students.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Announcements Ends -->
                <!-- Quick Links Start -->
                <div class="col-12 col-sm-12 col-lg-4 col-xl-4 col-4-xxxl ">
                    <div class="card ui-tab-card pd-b-10 quicklinks-anchor-color-white a height-100-percent">
                        <div class="card-body border-top-blue ">
                            <div class="heading-layout1 mg-b-30">
                                <div class="item-title width-100-precent">
                                    <h3 class="display-inline-block">Quick Links</h3>
                                </div>
                            </div>
                            <div class="row gutters-20 mg-b-5 welcome-student-quicklinks">
                                <div class="col-xl-4 col-sm-4 col-4 text-align-center">
                                    <div class="dashboard-summery-one mg-b-5 bg-usd-yellow">
                                        <div class="item-icon width-100-precent">
                                            <i class="fas fa-sitemap color-white line-height-50"></i>
                                        </div>
                                        <a href="#">USD Site</a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-4 col-4 text-align-center">
                                    <div class="dashboard-summery-one mg-b-5 bg-usd-founders-blue">
                                        <div class="item-icon  width-100-precent">
                                            <i class="fas fa-map-marked color-white line-height-50"
                                               aria-hidden="true"></i>
                                        </div>
                                        <a href="#">Campus Map</a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-4 col-4 text-align-center">
                                    <div class="dashboard-summery-one mg-b-5 bg-usd-torero-blue">
                                        <div class="item-icon width-100-precent">
                                            <i class="fas fa-parking color-white line-height-50"
                                               aria-hidden="true"></i>
                                        </div>
                                        <a href="#">Parking Serv..</a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-4 col-4 text-align-center">
                                    <div class="dashboard-summery-one mg-b-5 bg-usd-green">
                                        <div class="item-icon  width-100-precent">
                                            <i class="fa fa-bus-alt color-white line-height-50"
                                               aria-hidden="true"></i>
                                        </div>
                                        <a href="#">Tram Serv..</a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-4 col-4 text-align-center">
                                    <div class="dashboard-summery-one mg-b-5 bg-usd-red">
                                        <div class="item-icon width-100-precent ">
                                            <i class="fas fa-list-alt color-white line-height-50"></i>
                                        </div>
                                        <a href="#">Ask One Stop</a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-4 col-4 text-align-center">
                                    <div class="dashboard-summery-one mg-b-5 bg-usd-orange">
                                        <div class="item-icon  width-100-precent">
                                            <i class="fas  fa-clipboard-list color-white line-height-50"
                                               aria-hidden="true"></i>
                                        </div>
                                        <a href="#">Torero Q</a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-4 col-4 text-align-center">
                                    <div class="dashboard-summery-one mg-b-5 bg-usd-lightGreen">
                                        <div class="item-icon width-100-precent">
                                            <i class="fal fa-spa color-white line-height-50" aria-hidden="true"></i>
                                        </div>
                                        <a href="#">Wellness</a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-4 col-4 text-align-center">
                                    <div class="dashboard-summery-one mg-b-5 bg-usd-gray">
                                        <div class="item-icon width-100-precent ">
                                            <i class="fal fa-vote-yea color-white line-height-50"
                                               aria-hidden="true"></i>
                                        </div>
                                        <a href="#">Uni. Policies</a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-4 col-4 text-align-center">
                                    <div class="dashboard-summery-one mg-b-5 bg-usd-gray">
                                        <div class="item-icon width-100-precent ">
                                            <i class="far fa-vr-cardboard color-white line-height-50"
                                               aria-hidden="true"></i>

                                        </div>
                                        <a href="#">Vitual Tut.</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Quick Links End -->
                <!-- My Finances Start -->
                <div class="col-12 col-sm-12 col-lg-6 col-xl-4 col-4-xxxl">
                    <div class="card dashboard-card-six ui-tab-card pd-b-10 height-100-percent">
                        <div class="card-body border-top-blue">
                            <div class="heading-layout1 mg-b-20">
                                <div class="item-title width-95-precent">
                                    <h3 class="display-inline-block">My Finances <a href="#"></a></h3>
                                </div>
                            </div>

                            <div class="custom-tab my-finances-nav">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab"
                                           href="#financialAidRequirementsTab" role="tab"
                                           aria-selected="true">Summary</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " data-toggle="tab" href="#financialAidStatusTab"
                                           role="tab" aria-selected="false">Financial Aid</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="financialAidRequirementsTab"
                                         role="tabpanel">
                                        <table class="myFinancesTable width-100-precent">
                                            <tr>
                                                <th>Parking Permit:</th>
                                                <td><a href="#">Click Here
                                                </a></td>
                                            </tr>
                                            <tr>
                                                <th>Housing:</th>
                                                <td><a href="#">Click Here
                                                </a></td>
                                            </tr>
                                            <tr>
                                                <th>Tuition:</th>
                                                <td><a href="#">Click Here
                                                </a></td>
                                            </tr>
                                        </table>
                                        <div class="card-footer bg-transparent my-profile-card-footer mg-t-35">
                                            <div class="row">
                                                <div class="col-6 col-sm-6 col-lg-6 col-xl-6 col-6-xxxl"><a
                                                        href="#">Make Payment
                                                </a>
                                                </div>
                                                <div class="col-6 col-sm-6 col-lg-6 col-xl-6 col-6-xxxl"><a
                                                        href="#">View Account
                                                </a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade " id="financialAidStatusTab" role="tabpanel">
                                        <table class="myFinancesTable width-100-precent">
                                            <tr>
                                                <th>Fin. Aid Status:</th>
                                                <td><a href="#">Click Here</a></td>
                                            </tr>
                                            <tr>
                                                <th>Cost of Attend.:</th>
                                                <td>$75, 166.00</td>
                                            </tr>
                                            <tr>
                                                <th>Fin. Aid Award:</th>
                                                <td><a href="#">Click Here</a></td>
                                            </tr>
                                            <tr>
                                                <th>Stu. Requirements:</th>
                                                <td class="color-usd-red"><i
                                                        class="fad fa-exclamation-circle strong-text"
                                                        data-toggle="popover"
                                                        data-content="You have unsatisfied student requirements for this aid year."
                                                        data-trigger="hover"> Unsatisfied </i> <a href="#"> See
                                                    more</a></td>
                                            </tr>
                                        </table>
                                        <div class="card-footer bg-transparent my-profile-card-footer mg-t-35">
                                            <div class="row">
                                                <div class="col-6 col-sm-6 col-lg-6 col-xl-6 col-6-xxxl"><a
                                                        href="#">Fin.
                                                    Aid Status</a>
                                                </div>
                                                <div class="col-6 col-sm-6 col-lg-6 col-xl-6 col-6-xxxl"><a
                                                        href="#">Fin. Aid
                                                    Awards</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- My Finances End -->
                <!-- Calendar feed start -->
                <div class="col-12 col-sm-12 col-lg-6 col-xl-5 col-5-xxxl ">
                    <div class="card ui-tab-card pd-b-10">
                        <div class="card-body border-top-blue ">
                            <div class="heading-layout1 mg-b-30">
                                <div class="item-title width-100-precent">
                                    <h3 class="display-inline-block">Calendars</h3>
                                    <!-- <h3 class="display-inline-block float-right"><i class="fas fa-calendar-day"></i>
                                    </h3> -->
                                </div>
                            </div>
                            <div class="overflow-y-scroll max-height-40">
                                <ul class="feedBody">
                                    <li class="deactive-feed">
                                        <div class="feed-user-img">
                                            <a href="#"><i class="fad fa-calendar-check" aria-hidden="true"></i></a>
                                        </div>
                                        <h6>
                                                <span class="feedLblStyle lblFileStyle"><a href="#">Campus Master
                                                        Calendar</a></span>
                                        </h6>
                                        <p class="m-b-15 m-t-15">
                                            Link to the university master calendar for all events scheduled on
                                            campus,
                                            including meetings, classes and special events.
                                        <hr>
                                        </p>
                                    </li>
                                    <li class="deactive-feed">
                                        <div class="feed-user-img">
                                            <a href="#"><i class="fad fa-calendar-check" aria-hidden="true"></i></a>
                                        </div>
                                        <h6>
                                                <span class="feedLblStyle lblFileStyle"><a href="#">Public Events
                                                        Calendar</a></span>
                                        </h6>
                                        <p class="m-b-15 m-t-15">
                                            These events are open to the public as well as to USD students,
                                            faculty
                                            and
                                            staff.
                                        <hr>
                                        </p>
                                    </li>
                                    <li class="deactive-feed">
                                        <div class="feed-user-img">
                                            <a href="#"><i class="fad fa-calendar-check" aria-hidden="true"></i></a>
                                        </div>
                                        <h6>
                                            <span class="feedLblStyle lblFileStyle-gray"><a
                                                    href="#">Academic Calendars</a></span>
                                        </h6>
                                        <p class="m-b-15 m-t-15">
                                            Undergraduate, graduate and law calendars.
                                        <hr>
                                        </p>
                                    </li>
                                    <li class="deactive-feed">
                                        <div class="feed-user-img">
                                            <a href="#"><i class="fad fa-calendar-check" aria-hidden="true"></i></a>
                                        </div>
                                        <h6>
                                                <span class="feedLblStyle lblFileStyle-gray"><a href="#">Athletic
                                                        Calendar</a></span>
                                        </h6>
                                        <p>
                                            All Torero competitions.
                                        <hr>
                                        <a href="https://www.sandiego.edu/academics/academic-calendars.php"
                                           target="_blank">See more..</a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Calendar feed end -->
                <!-- Health Insurance Start -->
                <div class="col-12 col-sm-12 col-xl-3 col-3-xxxl">
                    <div class="card ui-tab-card height-100-percent pd-b-5">
                        <div class="text-align-center bg-usd-gradient-dark-light-teal card-usd-bg-icon">
                            <i class="fad fa-heartbeat" aria-hidden="true"></i>
                        </div>
                        <div class="card-body border-radius-0">
                            <h5 class="card-title text-align-center">Health Insurance</h5>
                            <p class="card-text">
                                All undergraduate and graduate students have an opportunity to have health insurance
                                at the University of San Diego. Beginning in the fall of 2014, all full-time
                                students will be required to carry health insurance. This requirement will ensure
                                that students in need of health and/or mental health care beyond the scope of
                                services provided at USD by the on-campus Wellness Units, can access the appropriate
                                resources in the community.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Health Insurance End -->
                <!-- NSSE Start -->
                <div class="col-12 col-sm-12 col-lg-6 col-xl-4 col-4-xxxl">
                    <div class="card dashboard-card-six pd-b-10">
                        <div class="card-body border-top-blue">
                            <div class="heading-layout1 mg-b-20 border-bottom-dotted">
                                <div class="item-title width-95-precent">
                                    <h3 class="display-inline-block"><img
                                            src="https://www.sandiego.edu/mysandiego/portal/img/NSSE.png">
                                    </h3>
                                </div>
                                <div class="dropdown float-right">
                                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                       aria-expanded="false"><i class="far fa-ellipsis-v font-weight-900"></i></a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" target="_blank"> <i
                                                class="fas fa-info mg-r-5"></i>More Info</a>
                                        <a class="dropdown-item" href="#"><i
                                                class="fal fa-phone-volume mg-r-5"></i>Contact
                                            Info</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="mg-b-60">
                                    All undergraduate and graduate students have an opportunity to have health
                                    insurance at the University of San Diego. Beginning in the fall of 2014, all
                                    full-time students will be required to carry health insurance. This
                                    requirement
                                    will ensure that students in need of health and/or mental health care beyond
                                    the
                                    scope of services provided at USD by the on-campus Wellness Units, can
                                    access
                                    the appropriate resources in the community.All undergraduate and graduate
                                    students have an opportunity to have health insurance at the University of San
                                    Diego. Beginning in the fall of 2014, all full-time students will be required to
                                    carry health insurance. This requirement will ensure that students in need of
                                    health and/or mental health care beyond the scope of services provided at USD by
                                    the on-campus Wellness Units, can access the appropriate resources in the
                                    community.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- NSSE End -->
            </div>
            <!-- ============================================================================ -->
            <!-- Inserting Footer from fragments **************************************** -->
            <!-- ============================================================================ -->
            <div th:replace="fragments/footer :: footer"></div>
        </div>
    </div>
    <!-- Page Area End Here -->
</div>
<!-- ============================================================================ -->
<!-- Inserting Common JS from fragments **************************************** -->
<!-- ============================================================================ -->
<div th:replace="fragments/commonJS :: commonJS"></div>
</body>
</html>


<!-- ============================================================================ -->
<!-- Sample format to use comments Line1 **************************************** -->
<!-- Sample format to use comments Line2 **************************************** -->
<!-- Sample format to use comments Line3 **************************************** -->
<!-- ============================================================================ -->